@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #04020D;
}

h1,
h2,
h3 {
  color: #fff;
}

p {
  color: #fff;
}
thead {
  background-color: #304C75;
}

tr {
  color: #fff;
}
table.table_teams,
table.table_riders,
table.table_detailRiders {
  width: 100%; /* Optional */
}

table.table_teams tbody,
table.table_teams thead,
table.table_detailRiders tbody,
table.table_detailRiders thead,
table.table_riders tbody,
table.table_riders thead {
  display: block;
}

table.table_teams tbody,
table.table_detailRiders tbody,
table.table_riders tbody {
  height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
}

tbody td,
thead th {
  width: 10%; /* Optional */
}

/* Breedte en kleur van de scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #7F9EBE; /* Kleur van de thumb */
  border-radius: 6px; /* Afronding van de thumb */
}
/* Voor Firefox */
/* Let op: Firefox ondersteunt momenteel geen specifieke aanpassingen aan de thumb */
/* De onderstaande stijlen werken voor Firefox 64 en hoger */
/* In oudere versies van Firefox zijn specifieke aanpassingen beperkt */
* {
  scrollbar-color: #7F9EBE #f5f5f5;
  scrollbar-width: thin;
}

/* View transition api */

.content-teampage {
  view-transition-name: team-page;
}

.container-index {
  view-transition-name: container-index;
}

.content-riderpage {
  view-transition-name: rider-page;
}

/* New */
::view-transition-new(container-index):only-child {
  animation: 0.9s ease-in-out var(--animation-delay, 0s) both slide-right;
}

::view-transition-new(team-page):only-child,
::view-transition-new(rider-page):only-child {
  animation: 0.9s ease-in-out var(--animation-delay, 0s) both scale-down;
  transform-origin: right;
}

/* Old */
::view-transition-old(container-index):only-child {
  animation: 0.8s ease-in-out var(--animation-delay, 0s) both slide-left;
}

::view-transition-old(team-page):only-child,
::view-transition-old(rider-page):only-child {
  animation: 0.8s ease-in-out var(--animation-delay, 0s) both scale-up;
  /* transform-origin: top left; */
}

@keyframes scale-up {
  0% {
    transform: scale(1);
    transform-origin: right;
  }

  100% {
    transform: scale(0);
    transform-origin: right;
  }
}

@keyframes scale-down {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
/* Index page */
@keyframes slide-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-110%);
  }

  100% {
    transform: translateX(0%);
  }
}
